.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: var(--secondary-color);
  color: var(--secondary-contrast-color);
}

.footer__made-by,
.footer__rights {
  position: relative;
  margin: 0 10px;
}

.footer__email-link {
  text-decoration: underline;
  cursor: pointer;
  color: var(--secondary-contrast-color);
}
